*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Pro Regular";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gotham Pro Regular", "sans-serif";
  font-size: 1.2rem;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  max-width: 1125px;
  padding: 0 30px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

.contacts {
  background-color: #F3EDE2;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}
.contacts__time {
  margin: auto 0;
}
.contacts__images {
  display: flex;
  height: 100%;
  align-items: center;
}
.contacts__images img {
  width: 20px;
}
.contacts__image {
  margin-left: 10px;
}

.header {
  background-color: #181818;
  color: white;
  padding-bottom: 30px;
}
.header__info {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
}
.header__logo img {
  margin: auto 0;
}
.header__contact {
  margin: auto 0;
  padding-left: 40px;
}
.header__banner {
  margin-top: 40px;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.header__banner-text {
  width: 50%;
  display: flex;
}
.header__text-wrapper {
  padding-right: 90px;
  margin: auto 0;
}
.header__title {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 25px;
}
.header__description {
  color: #ECD4AD;
  line-height: 23px;
  margin-bottom: 40px;
}
.header__btn {
  padding: 16px 52px;
  border: 1px solid white;
  color: white;
}
.header__banner-image img {
  padding-right: 10px;
  width: 100%;
}
.header__features-wrapper {
  max-width: 800px;
  margin: auto;
}
.header__features {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header__feature {
  margin: auto;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.header__feature img {
  width: 100%;
}
.header__img-wrapper {
  margin-right: 25px;
  width: 30px;
}

.about-us {
  margin-top: 50px;
}
.about-us__wrapper {
  display: flex;
}
.about-us__image {
  width: 50%;
}
.about-us__image img {
  width: 100%;
}
.about-us__info {
  width: 50%;
  margin-left: 40px;
}
.about-us__sub-title {
  display: flex;
}
.about-us__sub-title img {
  margin: auto 20px;
}
.about-us__title {
  padding-top: 30px;
  line-height: 45px;
  font-size: 16px;
}
.about-us__description {
  padding-top: 50px;
  font-size: 18px;
}

.arrivals {
  margin: 50px 0;
}
.arrivals__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.arrivals__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.arrivals__item {
  border: 1px solid #ECD4AD;
  padding: 2%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.arrivals__item img {
  margin: auto;
  max-width: 250px;
}
.arrivals__item-name {
  margin: 20px 0;
}
.arrivals__item-price {
  color: #DFAC59;
}
.arrivals__btn-block {
  text-align: center;
  margin-top: 50px;
}
.arrivals__btn {
  padding: 16px 52px;
  border: 1px solid #AB803B;
  color: #AB803B;
}

.catalog {
  background-color: black;
  color: white;
}
.catalog__title {
  text-align: center;
  padding: 50px 0;
  font-size: 14px;
}
.catalog__tabs {
  display: flex;
  border-bottom: 1px solid #ECD4AD;
}
.catalog__tab {
  width: 16.6%;
  text-align: center;
  color: #A1A1A1;
  padding: 30px;
  cursor: pointer;
  font-size: 16px;
}
.catalog__tab-content {
  animation: fadeEffect 1s;
}
.catalog .tab-active {
  border-bottom: 2px solid #ECD4AD;
}
.catalog__wrapper {
  display: flex;
  padding-top: 50px;
}
.catalog__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.catalog__info ul {
  margin: 0;
  padding: 0;
  list-style-image: url("../../images/li-img.png");
}
.catalog__info li {
  padding: 5px 0;
}
.catalog__info h1 {
  font-size: 35px;
  padding-bottom: 30px;
}
.catalog__text {
  margin-left: 20px;
}
.catalog__image {
  width: 50%;
  background-image: url("../../images/catalog-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.catalog__image img {
  max-width: 350px;
}
.catalog__btn-block {
  margin-top: auto;
  margin-bottom: 50px;
}
.catalog__btn {
  padding: 16px 60px;
  color: white;
  border: 1px solid white;
}

.buyback {
  margin-top: 50px;
}
.buyback__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.buyback__items {
  display: flex;
  justify-content: space-between;
}
.buyback__item {
  width: 20%;
  border: 1px solid #ECD4AD;
  height: 200px;
  margin-bottom: 50px;
}
.buyback__number {
  width: 20%;
}
.buyback__number div {
  padding: 12px;
  border-right: 1px solid #ECD4AD;
  border-bottom: 1px solid #ECD4AD;
}
.buyback__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
  font-size: 14px;
}
.buyback__info img {
  width: 52px;
  margin-bottom: 20px;
}

.feedback {
  display: flex;
  color: white;
}
.feedback__image {
  width: 50%;
}
.feedback__image img {
  width: 100%;
  height: 100%;
}
.feedback__info {
  width: 50%;
  background-color: black;
}
.feedback__info-wrapper {
  padding: 70px 100px 0 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.feedback__title {
  line-height: 45px;
  font-size: 14px;
  padding-bottom: 40px;
}
.feedback__description {
  font-size: 16px;
}
.feedback__btn-wrapper {
  margin-top: auto;
  margin-bottom: 150px;
}
.feedback__btn {
  padding: 16px 60px;
  background-color: #ECD4AD;
  color: black;
}

.features {
  margin-top: 50px;
}
.features__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.features__items {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 25%;
  border: 1px solid #ECD4AD;
  height: 200px;
  margin-bottom: 50px;
}
.features__number div {
  padding: 10px;
  border: 1px solid #ECD4AD;
  border-top: none;
}
.features__number div img {
  width: 50px;
}
.features__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  font-size: 14px;
}
.features__info h1 {
  font-size: 14px;
  padding: 14px 0;
}
.features__info p {
  padding: 5px;
}

.brands {
  background: #F3EDE2;
}
.brands__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0;
}
.brands__item {
  width: 18%;
  padding-bottom: 15px;
}
.brands__item p {
  color: #707070;
}

.footer {
  background-color: #181818;
  color: white;
}
.footer__sections-wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  padding-top: 40px;
}
.footer__title {
  padding-bottom: 20px;
}
.footer__links-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-size: 14px;
  padding: 5px 0;
  cursor: pointer;
}
.footer__items {
  display: flex;
  flex-direction: column;
}
.footer__item {
  font-size: 14px;
  padding: 5px 0;
  max-width: 200px;
  line-height: 25px;
}
.footer__item img {
  width: 12px;
}

.footer-contacts {
  background-color: #181818;
  color: white;
  border-top: 1px solid white;
}
.footer-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}
.footer-contacts__time {
  margin: auto 0;
  font-size: 12px;
}
.footer-contacts__images {
  display: flex;
  height: 100%;
  align-items: center;
}
.footer-contacts__images img {
  width: 20px;
}
.footer-contacts__image {
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .footer-contacts__wrapper {
    height: auto;
  }

  .arrivals__item {
    padding: 2%;
  }

  .arrivals__item-name {
    font-size: 16px;
  }

  .feedback__image img {
    object-fit: cover;
  }

  .feedback__info-wrapper {
    padding: 70px 50px 0 50px;
  }
}
@media screen and (max-width: 627px) {
  .header__img-wrapper {
    padding: 10px 0;
    margin-right: 0;
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .contacts__time {
    font-size: 1.5rem;
  }

  .catalog__text {
    font-size: 16px;
  }

  .catalog__tab {
    width: 50%;
  }

  .contacts__images img {
    padding-top: 10px;
    width: 25px;
  }

  .header__info {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .header__contacts {
    flex-direction: column;
  }

  .header__contact {
    padding: 5px 0;
  }

  .header__banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .header__banner-text {
    width: 100%;
    text-align: center;
  }

  .header__text-wrapper {
    padding-right: 0;
    padding-bottom: 25px;
  }

  .header__features {
    flex-direction: column;
    margin-top: 10px;
  }

  .header__feature {
    padding: 5px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .about-us__wrapper {
    flex-direction: column;
  }

  .about-us__image {
    width: 100%;
    margin-bottom: 10px;
  }

  .about-us__info {
    width: 100%;
    margin-left: 0;
  }

  .about-us__title {
    padding-top: 10px;
  }

  .arrivals__items {
    flex-direction: column;
  }

  .catalog__tabs {
    flex-wrap: wrap;
  }

  .catalog__wrapper {
    flex-direction: column;
  }

  .catalog__info {
    width: 100%;
  }

  .catalog__image {
    width: 100%;
  }
  .catalog__image img {
    max-width: 200px;
  }

  .catalog__btn-block {
    text-align: center;
    margin-top: 30px;
  }

  .buyback__items {
    flex-direction: column;
  }

  .buyback__item {
    width: 100%;
  }

  .feedback {
    flex-direction: column;
  }

  .feedback__image {
    width: 100%;
  }

  .feedback__info {
    width: 100%;
  }

  .feedback__btn {
    padding: 16px 20px;
  }

  .feedback__btn-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .feedback__description {
    margin-bottom: 20px;
  }

  .features__items {
    flex-direction: column;
  }

  .features__item {
    width: 100%;
  }

  .brands__item {
    width: 50%;
    font-size: 12px;
  }

  .footer__sections-wrapper {
    flex-direction: column;
  }

  .footer__logo {
    text-align: center;
    padding-top: 0;
    margin-bottom: 25px;
  }

  .footer__navigation {
    margin-bottom: 25px;
  }

  .footer__schedule {
    margin-bottom: 25px;
  }

  .feedback__btn {
    padding: 10px 4px;
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  .feedback__btn {
    padding: 10px 4px;
    font-size: 15px;
  }

  .catalog__tab {
    width: 50%;
    font-size: 14px;
  }

  .catalog__text {
    font-size: 17px;
  }

  .brands__item {
    width: 50%;
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
