* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham Pro Regular";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gotham Pro Regular", "sans-serif";
  font-size: 1.2rem;
}

.container {
  max-width: 1125px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.contacts {
  background-color: #F3EDE2;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}
.contacts__time {
  margin: auto 0;
}
.contacts__images {
  display: flex;
  height: 100%;
  align-items: center;
}
.contacts__images img {
  width: 20px;
}
.contacts__image {
  margin-left: 10px;
}

.header {
  background-color: #181818;
  color: white;
  padding-bottom: 30px;
}
.header__info {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
}
.header__logo img {
  margin: auto 0;
}
.header__contact {
  margin: auto 0;
  padding-left: 40px;
}
.header__banner {
  margin-top: 40px;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.header__banner-text {
  width: 50%;
  display: flex;
}
.header__text-wrapper {
  padding-right: 90px;
  margin: auto 0;
}
.header__title {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 25px;
}
.header__description {
  color: #ECD4AD;
  line-height: 23px;
  margin-bottom: 40px;
}
.header__btn {
  padding: 16px 52px;
  border: 1px solid white;
  color: white;
}
.header__banner-image img {
  padding-right: 10px;
  width: 100%;
}
.header__features-wrapper {
  max-width: 800px;
  margin: auto;
}
.header__features {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header__feature {
  margin: auto;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.header__feature img {
  width: 30px;
  padding-right: 25px;
}

.about-us {
  margin-top: 50px;
}
.about-us__wrapper {
  display: flex;
}
.about-us__image {
  width: 50%;
}
.about-us__image img {
  width: 100%;
}
.about-us__info {
  width: 50%;
  margin-left: 40px;
}
.about-us__sub-title {
  display: flex;
}
.about-us__sub-title img {
  margin: auto 20px;
}
.about-us__title {
  padding-top: 30px;
  line-height: 45px;
  font-size: 16px;
}
.about-us__description {
  padding-top: 50px;
  font-size: 18px;
}

.arrivals {
  margin: 50px 0;
}
.arrivals__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.arrivals__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.arrivals__item {
  border: 1px solid #ECD4AD;
  padding: 2%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.arrivals__item img {
  margin: auto;
  width: 80%;
}
.arrivals__item-name {
  margin: 20px 0;
}
.arrivals__item-price {
  color: #DFAC59;
}
.arrivals__btn-block {
  text-align: center;
  margin-top: 50px;
}
.arrivals__btn {
  padding: 16px 52px;
  border: 1px solid #AB803B;
  color: #AB803B;
}

.buyback {
  margin-top: 50px;
}
.buyback__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.buyback__items {
  display: flex;
  justify-content: space-between;
}
.buyback__item {
  width: 20%;
  border: 1px solid #ECD4AD;
  height: 200px;
  margin-bottom: 200px;
}
.buyback__number {
  width: 20%;
}
.buyback__number div {
  padding: 12px;
  border-right: 1px solid #ECD4AD;
  border-bottom: 1px solid #ECD4AD;
}
.buyback__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
  font-size: 14px;
}
.buyback__info img {
  width: 52px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.scss.map */
