* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro Regular', 'sans-serif';
  font-size: 1.2rem;
}

.container {
  max-width: 1125px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.contacts {
  background-color: #F3EDE2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 5vh;
  }

  &__time {
    margin: auto 0;
  }

  &__socials {

  }

  &__images {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      width: 20px;
    }
  }

  &__image {
    margin-left: 10px;
  }


}

.header {
  background-color: #181818;
  color: white;
  padding-bottom: 30px;

  &__info {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
  }

  &__logo {

    img {
      margin: auto 0;
    }
  }

  &__contact {
    margin: auto 0;
    padding-left: 40px;
  }

  &__banner {
    margin-top: 40px;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
  }

  &__banner-text {
    width: 50%;
    display: flex;
  }

  &__text-wrapper {
    padding-right: 90px;
    margin: auto 0;
  }

  &__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  &__description {
    color: #ECD4AD;
    line-height: 23px;
    margin-bottom: 40px;
  }

  &__btn {
    padding: 16px 52px;
    border: 1px solid white;
    color: white;
  }

  &__banner-image {

    img {
      padding-right: 10px;
      width: 100%;
    }
  }

  &__features-wrapper {
    max-width: 800px;
    margin: auto;
  }

  &__features {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__feature {
    margin: auto;
    font-size: 20px;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      padding-right: 25px;
    }
  }
}

.about-us {
  margin-top: 50px;

  &__wrapper {
    display: flex;
  }

  &__image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__info {
    width: 50%;
    margin-left: 40px;
  }

  &__sub-title {
    display: flex;

    img {
      margin: auto 20px;
    }
  }

  &__title {
    padding-top: 30px;
    line-height: 45px;
    font-size: 16px;
  }

  &__description {
    padding-top: 50px;
    font-size: 18px;
  }
}

.arrivals {
  margin: 50px 0;

  &__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid #ECD4AD;
    padding: 2%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      margin: auto;
      max-width: 250px;
    }
  }

  &__item-name {
    margin: 20px 0;
  }

  &__item-price {
    color: #DFAC59;
  }

  &__btn-block {
    text-align: center;
    margin-top: 50px;
  }

  &__btn {
    padding: 16px 52px;
    border: 1px solid #AB803B;
    color: #AB803B;
  }
}

.catalog {
  background-color: black;
  color: white;

  &__title {
    text-align: center;
    padding: 50px 0;
    font-size: 14px;
  }

  &__tabs {
    display: flex;
    border-bottom: 1px solid #ECD4AD;
  }

  &__tab {
    width: 16.6%;
    text-align: center;
    color: #A1A1A1;
    padding: 30px;
  }

  .tab-active {
    border-bottom: 2px solid #ECD4AD;
  }

  &__wrapper {
    display: flex;
    padding-top: 50px;
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 35px;
      padding-bottom: 30px;
    }
  }

  &__image {
    width: 50%;
    background-image: url('../../images/catalog-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  &__btn-block {
    margin-top: auto;
    margin-bottom: 150px;
  }
  &__btn {
    padding: 16px 60px;
    color: white;
    border: 1px solid white;
  }
}

.buyback {
  margin-top: 50px;

  &__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 20%;
    border: 1px solid #ECD4AD;
    height: 200px;
    margin-bottom: 50px;
  }

  &__number {
    width: 20%;

    div {
      padding: 12px;
      border-right: 1px solid #ECD4AD;
      border-bottom: 1px solid #ECD4AD;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    font-size: 14px;

    img {
      width: 52px;
      margin-bottom: 20px;
    }
  }
}

.feedback {
  display: flex;
  color:white;

  &__image {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    width: 50%;
    background-color: black;
  }

  &__info-wrapper {
    padding: 70px 100px 0 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    line-height: 45px;
    font-size: 14px;
    padding-bottom: 40px;
  }

  &__description {
    font-size: 16px;
  }
  &__btn-wrapper {
    margin-top: auto;
    margin-bottom: 150px;
  }
  &__btn {
    padding: 16px 60px;
    background-color: #ECD4AD;
    color: black;
  }
}

.features {
  margin-top: 50px;

  &__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 25%;
    border: 1px solid #ECD4AD;
    height: 200px;
    margin-bottom: 50px;
  }

  &__number {

    div {
      padding: 10px;
      border: 1px solid #ECD4AD;
      border-top: none;
      img {
        width: 50px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2%;
    font-size: 14px;

    h1 {
      font-size: 14px;
      padding: 14px 0;
    }
    p {
      padding: 5px;
    }
  }

}

.brands {
  background: #F3EDE2;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;
  }

  &__item {
    width: 18%;
    padding-bottom: 15px;

    p {
      color: #707070;
    }
  }
}

.footer {
  background-color: #181818;
  color:white;

  &__sections-wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 40px;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 14px;
    padding: 5px 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 14px;
    padding: 5px 0;
    max-width: 200px;
    line-height: 25px;
    img {
      width: 12px;
    }
  }
}

.footer-contacts {
  background-color: #181818;
  color: white;
  border-top: 1px solid white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 5vh;
  }

  &__time {
    margin: auto 0;
    font-size: 12px;
  }

  &__socials {

  }

  &__images {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      width: 20px;
    }
  }

  &__image {
    margin-left: 10px;
  }


}
